<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{385,195}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{385,195}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{375,205}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{375,205}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{365,207}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{365,207}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,369},{373,189}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{373,189}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,382},{379,191}}</string>
                <key>offset</key>
                <string>{11,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{379,191}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{387,191}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{387,191}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,195}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{397,195}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,195},{385,185}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{385,185}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,575},{331,151}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,22},{331,151}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{213,121}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,61},{213,121}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,603},{137,87}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,71},{137,87}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>sw_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,575},{135,71}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,81},{135,71}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tanabataFishDead.png</string>
            <key>size</key>
            <string>{999,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b39ec42ca7de7e81aae65db3747cb59:600e612d8d5afa3a45240a42cb3ea984:d9e75a7780ef049c16d3ae8f4b22032c$</string>
            <key>textureFileName</key>
            <string>tanabataFishDead.png</string>
        </dict>
    </dict>
</plist>
