<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{379,211}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{379,211}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,211}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{381,211}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{379,209}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{379,209}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,432},{377,199}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{377,199}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,836},{377,191}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{377,191}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,836},{377,185}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{377,185}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,633},{373,201}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{373,201}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,375},{369,209}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{369,209}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,215},{363,215}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{363,215}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{361,211}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{361,211}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{365,205}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{365,205}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
            <key>yy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{371,203}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{371,203}}</string>
                <key>sourceSize</key>
                <string>{401,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tanabataFish.png</string>
            <key>size</key>
            <string>{971,1029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a81f983e6c02951ed6c32e74bbb2a7a9:a274c5ea69119b71bdf73cc31f0acdc5:3b27f4c7495882b2cf7ecfa102e6cda4$</string>
            <key>textureFileName</key>
            <string>tanabataFish.png</string>
        </dict>
    </dict>
</plist>
