<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addChips.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,372},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,318},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,370},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>bech_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,346},{83,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>bg00.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{218,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,36}}</string>
                <key>sourceSize</key>
                <string>{218,36}</string>
            </dict>
            <key>chipsBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,230},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,370},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,370},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>effect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,372},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>fishPlist_fish_lockCircle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,235},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>fishPlist_player_goldCircle_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>fishPlist_player_goldCircle_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,68}}</string>
                <key>sourceSize</key>
                <string>{254,68}</string>
            </dict>
            <key>goldicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,388},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{152,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,81}}</string>
                <key>sourceSize</key>
                <string>{152,81}</string>
            </dict>
            <key>h_l01.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,138},{88,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,106}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>h_l01_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,170},{31,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,63}}</string>
                <key>sourceSize</key>
                <string>{31,63}</string>
            </dict>
            <key>h_l01_123_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,274},{38,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,97}}</string>
                <key>sourceSize</key>
                <string>{38,97}</string>
            </dict>
            <key>h_l01_123_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,257},{46,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,129}}</string>
                <key>sourceSize</key>
                <string>{46,129}</string>
            </dict>
            <key>h_l02.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,118},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>h_l03.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,228},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{110,128}</string>
            </dict>
            <key>jhfb_bao_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,224},{120,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,119}}</string>
                <key>sourceSize</key>
                <string>{120,119}</string>
            </dict>
            <key>jhfb_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,358},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,134},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>lockCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{110,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,114}}</string>
                <key>sourceSize</key>
                <string>{110,114}</string>
            </dict>
            <key>lockSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,139},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{218,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,37}}</string>
                <key>sourceSize</key>
                <string>{218,37}</string>
            </dict>
            <key>ruduceChips.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,372},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>skill_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,234},{60,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,21}}</string>
                <key>sourceSize</key>
                <string>{60,21}</string>
            </dict>
            <key>skill_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,232},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>skill_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,346},{83,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>skill_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>skill_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,373},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>skill_shenhai.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,362},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>skill_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,358},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>t_bc.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,97},{71,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,34}}</string>
                <key>sourceSize</key>
                <string>{71,34}</string>
            </dict>
            <key>t_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{93,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,35}}</string>
                <key>sourceSize</key>
                <string>{93,35}</string>
            </dict>
            <key>unAuto.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,218},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,134},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>waiteJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,234},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>waiteJoin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{230,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,72}}</string>
                <key>sourceSize</key>
                <string>{230,72}</string>
            </dict>
            <key>wang_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,232},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>wang_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>wang_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,230},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batteryAtlas.png</string>
            <key>size</key>
            <string>{1005,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f6d37271535194170a5fac687425951:690be7ee0e12a71ab2d7ef3815c838c9:1a3b6cd56914f362eea0377c3dd45399$</string>
            <key>textureFileName</key>
            <string>batteryAtlas.png</string>
        </dict>
    </dict>
</plist>
